body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #ADD8E6;
    color: #333;
}

header, nav, section, footer {
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.game-list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.game-card {
    width: calc(33% - 20px);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}